.home {
  display: flex;
  .homeContainer {
    flex: 6;
    .widgets {
      display: flex;
      padding: 20px;
      gap: 20px;
    }
    .charts {
      display: flex;
      padding: 5px 20px;
      gap: 20px;
    }
    .listContainer {
      -webkit-box-shadow: 7px 7px 11px 2px rgba(221, 221, 221, 1);
      -moz-box-shadow: 7px 7px 11px 2px rgba(221, 221, 221, 1);
      box-shadow: 7px 7px 11px 2px rgba(221, 221, 221, 1);
      margin: 20px;
      padding: 20px;
      .listTitle {
        font-weight: 500;
        color: grey;
        margin-bottom: 15px;
      }
    }
  }
}
